 {{define "base"}}
 <!doctype html>
 <html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Filmbox</title>
    </head>
    <body>
        <header>
            <img src="/static/img/film_icon.ico" alt="erdal baggal" width="48" height="48">
            <h1><a href='/'>Filmbox</a></h1>
        </header>
        {{template "nav" . }}
        <main>
            {{template "main" .}}
        </main>
        <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
    </body>
 </html>
 {{end}}