{{define "title"}}Home{{end}}
{{define "main"}}
            <h2>Latest Films</h2>
            <h3> Iste cok beklenen erdal baggal imsakiyesi <h3>
            <img src="/static/img/erdal_baggal.png" alt="erdal baggal" width="300" height="300">
            
            <p>There's nothing to see here yet!</p>
{{end}}